.bg-img {
    background-image: url(./img/homepagepic.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}
nav img {
    width: 50%;
    height: auto;
   
}

.butonRight {
    position: fixed;
    right: 0px;
    top: 30%;
    z-index: 0;
}

.butonRight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.butonRight ul li {
    --c: #f28c09;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.butonRight ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.butonRight ul li:hover {
    color: black;
    cursor: pointer;
}

.butonRight ul li:hover span {
    transform: translateY(0) scale(2);
}

.butonRight ul li span:nth-child(1) {
    --n: 1;
}

.butonRight ul li span:nth-child(2) {
    --n: 2;
}

.butonRight ul li span:nth-child(3) {
    --n: 3;
}

.butonRight ul li span:nth-child(4) {
    --n: 4;
}
.homePaceLogo img {
    width: 300px;
    height: 300px;
}
.homePaceLogo img {
    width: 300px;
    height: 300px;
}